/*
Student Name: Wyse Lee Hong Yao
Changes Made: Added CSS for the Main Menu

Student Name: Gao YuHao
Changes Made: Modified design of the Main Menu page
*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  background-color: black;
  color: #00ff00;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menuBox {
  border: 4px solid #00ffcc;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px #00ffcc;
  outline: 2px solid #00ffcc;
  outline-offset: -8px;
  border-radius: 12px;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #00ffcc;
  font-weight: bold;
  text-shadow: 0 0 8px #00ffcc;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 14px;
  line-height: 1.5;
  text-shadow: 2px 2px 0px #008800;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  display: inline-block;
  background-color: #0000ff;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: 3px solid white;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 3px 3px 0px white;
  transition: all 0.2s;
}

.button:hover {
  background-color: #ff0000;
  box-shadow: 3px 3px 0px yellow;
}

.button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.settings-container {
  max-width: 550px;
  margin: 60px auto;
  padding: 30px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  border: 4px solid #00ffcc;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 255, 204, 0.8);
  outline: 2px solid #00ffcc;
  outline-offset: -8px;
}

.settings-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #00ffcc;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 8px #00ffcc;
  letter-spacing: 2px;
}

.settings-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 12px;
  border-bottom: 2px solid rgba(0, 255, 204, 0.5);
}

.settings-option label {
  font-size: 1rem;
  color: #00ffcc;
  text-shadow: 0 0 5px #00ffcc;
}


.settings-option select {
  padding: 10px;
}

.leftMole {
  position: absolute;
  left: 5%;
  width: 300px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.rightMole {
  position: absolute;
  right: 5%;
  width: 350px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}